{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 col-md-5 my-auto">
            <p>
                CCW-Creative is an independent grapic designer brand currently based in Liverpool, England.
                The designer has exerpriance with Adobe InDesgn, photoshop, graphic design, branding and marketing.
                Please use this site to reach out for any personalisations, freelance work or any queries. The site also has a small 
                ecommernce section to purchase products. Sign up so your details are saved! 
            </p>
            <div class="my-3">
                <h4>
                    <a href="#" class="sign-up-btn btn btn-lg rounded-0 text-uppercase py-3"> Sign Up!</a>
                </h4>
            </div>

        </div>
    </div>
</div>
{% endblock %}