{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body m-2 p-2">
            <h5>Welcome...</h5>
            <p class="card-text">
                ccwcreative is an independent graphic designer brand currently based in Liverpool, England.
                The designer has exerprience with Adobe InDesgn, photoshop, graphic design, branding and marketing.
                Please use this site to reach out for any personalisations, freelance work or any enquiries. The site also has a small 
                ecommerce section to purchase products. Sign up so your details are saved! 
            </p>
            <div class="my-3">
                <h4>
                    <a href="{% url 'products' %}" class="sign-up-btn btn btn-lg rounded-0 text-uppercase py-3"> Enter</a>
                </h4>
            </div>

        </div>
    </div>
</div>
{% endblock %}