html {
    height: 100%;
}

body {
    background: url('/media/homepage.jpg') no-repeat center center fixed;;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Playfair Display', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.sign-up-btn {
    background: #ff7369;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.sign-uo-btn:hover,
.sign-up-btn:active,
.sign-up-btn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ff7369;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #fcd4e6;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

 #product-card-body {
    height: 25px;
} 

#product-card-img {
    height: 300px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #ff7369;
}

.btt-link {
    cursor: pointer;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}