{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

    <div class="row m-4">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contact us </h2>
            <p class="w-responsive mb-4">Do you have any questions? Any personalisations or custom requests can be submitted 
                using form below, we will aim to respond ASAP! </p>
            <hr>
        </div>
    </div>



   
    <form id="contact-form" name="contact-form" method="POST">
        {% csrf_token %}
        <!--Grid row-->
        <div class="row m-4">

            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" id="name" name="name" class="form-control" required>
                    <label for="name" class="">Your name</label>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" id="email" name="email" class="form-control" required>
                    <label for="email" class="">Your email</label>
                </div>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row m-4">
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <input type="text" id="subject" name="subject" class="form-control" required>
                    <label for="subject">Subject</label>
                </div>
            </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row m-4">

            <!--Grid column-->
            <div class="col-md-12">

                <div class="md-form">
                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                    <label for="message">Your message</label>
                </div>

            </div>
        </div>

    </form>
    <div class="text-center text-center">
        <a class="sign-up-btn btn rounded-0 mb-5" onclick="document.getElementById('contact-form').submit();">Send</a>
    </div>
    <div class="status"></div>
    
{% endblock %}
            